<% if @reservation.room %>
  <h2>New Reservation for Room <%= @reservation.room.code %></h2>
<% else %>
  <h2>New Reservation</h2>
<% end %>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Back', @back_url %>
