#week-global-occupancy, #month-global-occupancy {
  .card-title {
    font-size: 4.5rem;
  }
}

.reservation-status.finished {
  color: $danger;
}

.reservation-status.ongoing {
  color: $info;
}

.reservation-status.planned {
  color: #469c1e;
}
